<h3>Friend Requests</h3>
<ul>
  <% @friendship_requests.each do |user_requesting| %>
    <li>
      <p><%= link_to "#{user_requesting.name}", user_path(user_requesting) %></p>
      <p><%= user_requesting.email %></p>
      <p><%= link_to "Confirm Friendship", friendship_confirm_path(user_requesting) %></p>
    </li>
  <% end %>
</ul>

<h3><%= "#{current_user.name.capitalize}'s" %> Friends</h3>
<ul>
  <% @friends.each do |user| %>
    <li>
      <p><strong><%= "#{user.name.capitalize}" %></strong><%="#{user.email}" %> </p>
      <p><%= link_to 'Profile', user_path(user) %><%= link_to 'Send Friend Request', friendship_path(user) %> </p>
    </li>
  <% end %>
</ul>
