<h3>Friend Requests</h3>
<ul>
  <% @friendship_requests.each do |item| %>
    <li>
      <p><%= link_to "#{item.name}", user_path(item) %></p>
      <p><%= item.email %></p>
    </li>
  <% end %>
</ul>

<h3><%= "#{current_user.name.capitalize}'s" %> Friends</h3>

<ul>
  <% @friendships.each do |item| %>
    <li>
      <p><%= link_to "#{item.name}", users_show_path(item) %></p>
      <p><%= item.email %></p>
    </li>
  <% end %>
</ul>
